body {
    background-color: blanchedalmond;
    margin: 0;
}

ul,
h1,
h2,
p,
h3 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

header {
    background-color: rgb(221, 103, 82);
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
}

.header-list {
    display: flex;
    gap: 50px;
    font-size: 24px;
    font-weight: 700;
    color: aliceblue;
}

.header-link {
    font-size: 24px;
    font-weight: 700;
    color: aliceblue;
}

.hero {
    padding: 50pX 0px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}

.hero-image {
    width: 550px;

}

.hero-title {
    font-size: 48px;
    color: rgb(113, 27, 12);
    margin-bottom: 40px;
    font-weight: 700;
}

.hero-text {
    font-size: 22px;
    padding: 10px 0px;
}

.dough {
    background-color: rgb(255, 167, 123);
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom:
}
     

.dough-container {
    justify-content: space-between;
    display: flex;
    gap: 50px;
    align-items: center;

}

.dough-title {
    color: rgb(113, 27, 12);
    font-size: 33px;
    padding-bottom: 30px;
}

.dough-text {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 22px;
}

.dough-list {
    margin-left: 50px;
    font-size: 30px;
}

.dough-item {
    list-style: disc;


}

.dough-img {
    width: 500px;
    height: 500px;
}

.dough-list {
    margin-left: 50px;
}

.filling {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    gap: 50px;
}

.filling-container {
    display: flex;
    justify-content: space-between;
}

.filling-img {
    width: 550px;
}

.filling-title {
    font-size: 33px;
    color: rgb(113, 27, 12);
    padding-top: 15px;
    padding-bottom: 15px;
}

.filling-text {
    padding-top: 15px;
    font-size: 22px;
}

.filling-list {
    list-style: disc;
    font-size: 22px;
    padding-left: 30px;
}

footer {
    background-color: rgb(221, 103, 82);
    padding-top: 30px;
    padding-bottom: 30px;


}

.footer-img {
    width: 30px;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-text {
    font-size: 20px;
    color: aliceblue;
}

.my-pizza {
    background-color: rgb(255, 167, 123);
    display: flex;
    align-items: center;

}

.pizza-image {
    height: 300px;
    display: flex;

}

.my-pizza-text {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    text-align: center;
}

.my-pizza-item {
    list-style: disc;
    font-size: 26px;
}

.my-pizza-title {
    color: rgb(113, 27, 12);
    font-size: 50px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.my-pizza-list {
    padding-left: 30px;
}
.my-pizza-container-main{
display: flex;
}